body {
    background-color: #f2f2f2 !important;
    padding-top: 20px;
}

button.btn-block {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

button.pull-right {
    margin-left: 10px;
}

div.alert {
    overflow: auto;
}

div.tab-pane {
    overflow: auto;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

pre.break {
    word-break: normal;
}

span.glyphicon {
    margin: auto 4px;
}

ul.nav.nav-tabs {
    margin-bottom: 10px;
}

ul.nav.nav-tabs li.active a {
    outline: 0;
}

#request-body-control {
    width: 100%;
    height: 100%;
}