html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2 !important;
}

.container {
    height: calc(100% - 94px);
}

.container > .row {
    height: calc(100% - 54px);
}

.col-sm-6, .panel {
    height: 100%;
}

.panel {
    margin-bottom: 0 !important;
}

.panel-body {
    height: calc(100% - 40px);
}

.tab-content {
    overflow-y: scroll;
    height: calc(100% - 52px);
}

button.btn-block {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

button.pull-right {
    margin-left: 10px;
}

div.alert {
    overflow: auto;
}

div.navbar-default {
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: none;
}

div.tab-pane {
    overflow: auto;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

pre.break {
    word-break: normal;
}

span.glyphicon {
    margin: auto 4px;
}

ul.nav.nav-tabs {
    margin-bottom: 10px;
}

ul.nav.nav-tabs li.active a {
    outline: 0;
}
