body {
    background-color: #f2f2f2 !important;
}

button.btn-block {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

div.navbar-default {
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: none;
}

div.tab-pane {
    overflow: auto;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

span.glyphicon {
    margin: auto 4px;
}

ul.nav.nav-tabs {
    margin-bottom: 10px;
}

ul.nav.nav-tabs li.active a {
    outline: 0;
}
